
  <h2>New book</h2>
  <%= form_with model:book, local:true do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'book_title' %><br>
      <%= f.label :opinion %><br>
      <%= f.text_area :body, class: 'book_body' %><br>
      <%= f.submit class: 'btn btn-primary' %>
  <% end %>
