<div class="col-md-3">
  <h2>New book</h2>
  <%= form_with model:book, local:true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'col-xs-12 book_title' %>
      <%= f.label :opinion %>
      <%= f.text_area :body, class: 'col-xs-12 book_body' %>
      <%= f.submit class: 'btn btn-primary col-xs-12' %>
  <% end %>
</div>